// Variable Overrides 
$theme-colors: (
  "primary": #00746E,
  "secondary": #00B6AC,
  "tertiary": #00312E,
  "success": #005E59,
  "info": #008A83,
  "warning": #FFB03B,
  //"danger": $danger,
  "light": #EEE9D1,
  "lighter": #ffffff,
  "dark": #736D6D,
  "darker": #170111
);

$body-bg: #ffffff;

body {
  font-family: 'museo-sans', sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important; }

h1 {
  font-weight: 900 !important; }

h2 {
  font-weight: 900 !important;
  margin-bottom: .25rem !important; }

h3 {
  font-weight: 700 !important;
  font-size: 1.25rem !important; }

p {
  font-weight: 100 !important;
  font-size: 1.125rem !important; }

.bwimage {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.btn {
  font-family:"museo"!important; 
  border-width: 2px !important; }

.btn-lg {
    font-family:"museo" !important; 
    border-width: 2px !important; }

.bg-cover {
  background: url("../assets/images/calves-mirrored-teal2.png") no-repeat center center !important;
  background-size: cover !important; }

.jumbotron {
  //min-height: 400px;
}

.h-500 {
  height: 500px; }

.icon-circle { 
  margin: auto;
  width: 165px;
  height: 165px;
  line-height: 175px; }

.img-special{
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto; }

.navbar-toggler {
  color: #736D6D !important;
  border: none !important;
  }

.nav-link {
  letter-spacing: .05em !important;
  font-weight: 900 !important;
}

.pt-6 {
  padding-top: 110px; }

.scroll-header {
  padding-top:110px;
  margin-top:-40px;
  margin-bottom:40px; }

.vertical-center {
  height: 100%;
  width: 100%;
  text-align: center; }

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";